<app-menu></app-menu>
<app-cuck></app-cuck>
<div class="container mt-30">
    <h1>Gestión de clientes</h1>
    <div class="components">
        <app-tables (id)="idItem = $event" (del)="Eliminar($event)" (edit)="Editar($event)" [Data]="ListCli"
            [Cabeceras]="ths" [atributos]="attr"></app-tables>
        <button (click)="Show()" class="success nuevo_cliente">Nuevo Cliente</button>
    </div>
    <div *ngIf="ShowR">
        <div class="Form">
            <form action="" [formGroup]="myForm" (ngSubmit)="Registrar()">
                <h2>{{ tituloCard }}</h2>
                <div class="group_input">
                    <label for="">Nombre</label>
                    <input type="text" formControlName="nombre" name="Nombre">
                </div>
                <div class="group_input">
                    <label for="">Dirección</label>
                    <input type="text" formControlName="direccion" name="direccion">
                </div>
                <div class="group_input">
                    <label for="">Telefono</label>
                    <input type="number" formControlName="telefono" name="telefono">
                </div>
                <div class="button">
                        <button type="submit" (click)="cancelar()">Cancelar</button>
                        <button type="submit">{{ textButton }}</button>
                </div>
             
            </form>
        </div>
    </div>

</div>