/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto','Arial';
}
*{
    box-sizing: content-box; 
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.mt-30{
    margin-top: 3em;
}
.border{
   border-bottom: 1px solid grey;
}
button{
    appearance: none;
    padding: .8em;
    border: 0px;
    &.success{
        background-color: #00796B;
        color: white;
    }
    &.danger{
        background-color: #AD1457;
        color: white;
    }
    &:active, &:focus{
        outline: none;
        box-shadow: none;
    }
    &:hover{
        opacity: .8;
    }
}
.Form{
    position: fixed;
    height: auto;
    top: 20%;
    z-index: 111111;
    left: 22%;
    width: 50%;
    background-color: white;
    padding: 3em;
    -webkit-box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
    .group_input{
        margin-bottom: 15px;
        label{
            display: block;
        }
        input{
            width: 100%;
            padding: 1em;
            border-radius: 10px;
            border: 1px solid gray;
        }
    }
    div.button{
        display: flex;
        width: 100%;
        justify-content: center;
        button{
            &:last-child{
                background-color: #00796B;
                color: white;
            }
            width: 50%;
        }
    }
}